.header {
  @apply flex p-3 w-full;
  gap: var(--gap);
}

.header > div {
  @apply text-center py-3;
  border: var(--border);
}

.header-box {
  height: var(--box-height);
  flex-grow: 1;
}
.header-bigger-box {
  height: var(--box-height);
  flex-grow: 2;
}

.main {
  @apply pt-3;
}
.main > div {
  @apply gap-3 w-full;
}

.bordered {
  border: var(--border);
}

.three-points-animation::after {
  animation: three-points 1.5s infinite;
  content: "...";
}

@keyframes three-points {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

.main-box {
  @apply flex flex-grow justify-center self-center h-full;
}

.footer {
  @apply p-3 w-fit flex justify-center absolute bottom-0 m-3 px-10;
  gap: var(--gap);
  border: var(--border);
}
